<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <center>
        <canvas id="myCanvas" width="480" height="360" style="border:1px solid #000000;">
        </canvas>
    </center>
    
</body>

<script>
    var canvas = document.getElementById("myCanvas");
    var ctx = canvas.getContext("2d");
    
    let width = canvas.width;
    let height = canvas.height;
    let posx = width / 2;
    let posy = height / 2;

    function clear() {
        ctx.rect(-1, -1, width+2, height+2);
        ctx.fillStyle = "white";
        ctx.fill();
        // ctx.closePath();
    }

    function redraw() {
        clear();
        ctx.beginPath();
        ctx.arc(posx, posy, 40, 0, 2 * Math.PI);
        ctx.stroke();
        ctx.closePath();
    }

    document.onkeypress = function (e) {
        let speed = 5;
        e = e || window.event;
        if (e.key == 'w') posy-=speed;
        if (e.key == 's') posy+=speed;
        if (e.key == 'a') posx-=speed;
        if (e.key == 'd') posx+=speed;
        redraw();
    };
</script>
</html>

