<!DOCTYPE html>
<html>

<head>
	<title>App Rover</title>
	<script type="text/javascript" src="{{ url_for('static', filename='cloudflare.com.socker.io.js') }}"></script>
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.js"></script> -->
	<script type="text/javascript">
		var socket = io.connect('http://' + document.domain + ':' + location.port);

		socket.on('connect', function () {
			console.log('Connected to the server');
		});

		function getMessage() {
			return document.getElementById('message').value;
		}

		function sendMessage(message) {
			socket.emit('message', message);
			socket.emit('setSpeed', 0);
		}

		document.onkeydown = function (e) {
			socket.emit('key-down', e.key);
		}

		document.onkeyup = function (e) {
			socket.emit('key-up', e.key);
		}
	</script>
</head>

<body>
	<!-- <h1>WebSocket Example</h1>
	<input type="text" id="message" placeholder="Type a message">
	<button onclick="sendMessage(getMessage())">Send</button> -->
	<center>
		<canvas id="myCanvas" width="480" height="360" style="border:1px solid #000000;">
		</canvas>
	</center>
</body>
<script type="text/javascript" src="{{ url_for('static', filename='roversim.js') }}"></script>

</html>